
.st-twitter-counter{
background-image: url(../imagenes/tw_c_ico.png) !important;
width: 20px !important;
}

.st-facebook-counter{
background-image: url(../imagenes/fb_c_ico.png) !important;
width: 20px !important;
}

.st_googleplus_hcount .stButton_gradient:not(.stHBubble){background-image: none !important; border:none; width:21px !important; }

.st_email_hcount .stButton_gradient:not(.stHBubble){background-image: none !important; border:none; width:21px !important; }
.stButton .googleplus{
	background-image: url(../imagenes/gp_c_ico.png) !important;width: 20px !important;
	height: 23px !important;
position: relative;
margin-top: 2px;
}

/*
#menu_categorias li a{	
	background-image:url(../imagenes/btn_souvenir_left.png), url(../imagenes/btn_souvenir_bg.png), url(../imagenes/btn_souvenir_right.png);
	background-repeat: no-repeat, repeat-x;
	position:relative;
}

#menu_categorias li a:after{
	background-image:url(../imagenes/btn_souvenir_right.png);
	background-repeat: no-repeat;
	content:'';
	width:10px;
	height:100%;
	position:abbsolute;
}
*/
/*		
			galeria de imagenes
			http://www.w3schools.com/css/css_image_gallery.asp
*/
.galeria_de_imagenes div.img
  {
  margin:2px;
  border:1px solid #0000ff;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
.galeria_de_imagenes  div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
.galeria_de_imagenes div.img a:hover img
  {
  border:1px solid #0000ff;
  }
.galeria_de_imagenes div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }
/*		
	FIN		galeria de imagenes
*/