body{paddin:0;margin:0; background: black url('http://www.dinpattern.com/tiles/steel.png'); }
#contenido{				
	-webkit-box-shadow: inset 0 11px 4px -4px #aaa;
	-moz-box-shadow: inset 0 11px 4px -4px #aaa;
	box-shadow: inset 0 11px 4px -4px #aaa; 
	background:#E0ECF8 ;padding:20px 0 0px 0;position:relative; text-align:center;
}
#footer{
	background:#4c4c4c url('http://www.dinpattern.com/tiles/steel.png'); position:relative;
	width:100%; height:64px; color:white;text-align:center;
	-webkit-box-shadow: 0 -6px 8px rgba(0,0,0, 0.4);
	-moz-box-shadow: 0 -6px 8px rgba(0,0,0, 0.4);
	box-shadow: 0 -6px 8px rgba(0,0,0, 0.4);	
}

#header{
	position:relative;border-bottom:3px #f08a4c solid;
	-webkit-box-shadow: 0 6px 8px rgba(0,0,0, 0.4);
	-moz-box-shadow: 0 6px 8px rgba(0,0,0, 0.4);
	box-shadow: 0 6px 8px rgba(0,0,0, 0.4); 			
}

.menu{margin:0; padding:0; display:inline-block; }
.menu li{ display:inline-block; vertical-align:bottom; line-height:100px;}
.menu a{ color:white; text-decoration:none; font-size:20px; padding-left:20px; padding-right:20px; }
.menu a:hover{border-bottom: 4px yellow solid; color:yellow; }
.menu a.activo{border-bottom: 4px white solid;}
#footer a{color:white; text-decoration:none;  font-size:.9em}
#footer li{ list-style:none; display:inline-block;margin-right: 29px; font-size: 1.2em;  }


/* EFECTO HOJA DE PAPEL */
.paper {
    position: relative;
    padding: 19px;
    /* margin-bottom: 20px; */
    background: #fafafa;
    border: 1px solid #fafafa;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}
.paper:before, .paper:after {
    content: "";
    position: absolute;
    z-index: -2;
}
.papers:after
{
	-webkit-transform: rotateZ(-2.5deg);
	-o-transform: rotate(-2.5deg);
	transform: rotateZ(-2.5deg);
}

/* FIN DE EFECTO HOJA DE PAPEL */ 